

.gacha_img{
    width: 36px;
    vertical-align: bottom;
    margin-left: 8px;
    margin-right: 8px;
}
.gacha_img_small{
    width: 16px;
    vertical-align: middle;
    margin: 0px 4px 4px 4px;
}


#gacha_total {
    position: fixed;
    width: 100%;
    max-width: 800px;
}


#gacha_total_table{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.gacha_total_table_tr td:nth-child(1) {
    width:120px;
}
.gacha_total_table_tr td:nth-child(2) {
    width:48px;
}
.gacha_total_table_tr td:nth-child(3) {
    width:24px;
}

.gacha_unit{
    color:#222222;
    background-color:#f0f0f0;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    font-size: 20px;
}

.gacha_unit_title{
    font-size: 24px;
    padding: 8px;
    background-color: #d8d8d8;
   
    
}

.gacha_unit_child {
    margin: 6px;
    margin-left: 8px;
    vertical-align: middle;
    display: inline-block;
}

.gacha_unit_child_title{
    width: 192px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    /* display: flex; */
}

.gacha_unit_child_inputbox {
    display: inline-block;

}

.gacha_unit_child_inputbox input{
    height: 24px;
    width: 72px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.gacha_unit_child_checkbox{
    display: inline-block;
    background-color: rgb(118, 247, 176);
 }

 .gacha_unit_child_fixed{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    font-size: 20px;
    width: 80px;
    text-align: left;
 }

 
 .gacha_unit_child_switch{
    display: inline-block;
    background-color: rgb(247, 238, 118);
 }

 .gacha_unit_fold {
    background-color: #e8e8e8;
    padding-left: 8px;
    height: 36px;
    line-height: 36px;
    font-weight: 600;
 }


.el-collapse-item__content {
    padding-bottom: 0px;
}

.el-collapse-item__wrap{
    margin: 1px;
    vertical-align: middle;
    will-change: height;
    border-bottom: 0px;
    background-color: #d8d8d8;
}

.el-collapse-item__header{
    background-color: #d8d8d8;
    border-bottom: 0px;
}

.el-switch__core {
    margin-bottom: 2px;
}


.el-checkbox {
    position: static;
}

.el-checkbox__inner {
    position: static;
}

.el-checkbox__input {
    position: static;
}

.el-radio-button__inner {
    width:100%;
}

.el-radio-button--small .el-radio-button__inner {
    padding: 9px 0px;
}