.bg-1 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -10px;
}



.bg-2001 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -10px;
}



.bg-2002 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -80px;
}



.bg-2003 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -80px;
}



.bg-2004 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -10px;
}



.bg-3003 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -80px;
}



.bg-3211 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -150px;
}



.bg-3212 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -150px;
}



.bg-3213 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -150px;
}



.bg-3221 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -10px;
}



.bg-3222 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -80px;
}



.bg-3223 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -150px;
}



.bg-3231 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -220px;
}



.bg-3232 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -220px;
}



.bg-3233 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -220px;
}



.bg-3241 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -220px;
}



.bg-3242 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -10px;
}



.bg-3243 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -80px;
}



.bg-3251 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -150px;
}



.bg-3252 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -220px;
}



.bg-3253 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -290px;
}



.bg-3261 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -290px;
}



.bg-3262 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -290px;
}



.bg-3263 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -290px;
}



.bg-3271 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -290px;
}



.bg-3272 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -10px;
}



.bg-3273 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -80px;
}



.bg-3281 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -150px;
}



.bg-3282 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -220px;
}



.bg-3283 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -290px;
}



.bg-3301 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -360px;
}



.bg-3302 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -360px;
}



.bg-3303 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -360px;
}



.bg-3401 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -360px;
}



.bg-4001 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -360px;
}



.bg-4002 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -360px;
}



.bg-4003 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -10px;
}



.bg-4004 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -80px;
}



.bg-4005 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -150px;
}



.bg-4006 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -220px;
}



.bg-5001 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -290px;
}



.bg-7001 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -360px;
}



.bg-7003 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -430px;
}



.bg-7004 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -430px;
}



.bg-30011 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -430px;
}



.bg-30012 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -430px;
}



.bg-30013 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -430px;
}



.bg-30014 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -430px;
}



.bg-30021 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -430px;
}



.bg-30022 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -10px;
}



.bg-30023 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -80px;
}



.bg-30024 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -150px;
}



.bg-30031 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -220px;
}



.bg-30032 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -290px;
}



.bg-30033 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -360px;
}



.bg-30034 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -430px;
}



.bg-30041 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -500px;
}



.bg-30042 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -500px;
}



.bg-30043 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -500px;
}



.bg-30044 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -500px;
}



.bg-30051 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -500px;
}



.bg-30052 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -500px;
}



.bg-30053 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -500px;
}



.bg-30054 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -500px;
}



.bg-30061 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -10px;
}



.bg-30062 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -80px;
}



.bg-30063 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -150px;
}



.bg-30064 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -220px;
}



.bg-30073 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -290px;
}



.bg-30074 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -360px;
}



.bg-30083 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -430px;
}



.bg-30084 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -500px;
}



.bg-30093 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -570px;
}



.bg-30094 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -570px;
}



.bg-30103 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -570px;
}



.bg-30104 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -570px;
}



.bg-30115 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -570px;
}



.bg-30125 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -570px;
}



.bg-30135 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -570px;
}



.bg-30145 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -570px;
}



.bg-30155 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -570px;
}



.bg-31013 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -10px;
}



.bg-31014 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -80px;
}



.bg-31023 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -150px;
}



.bg-31024 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -220px;
}



.bg-31033 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -290px;
}



.bg-31034 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -360px;
}



.bg-31043 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -430px;
}



.bg-31044 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -500px;
}



.bg-31053 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -570px;
}



.bg-31054 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -10px -640px;
}



.bg-31063 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -80px -640px;
}



.bg-31064 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -150px -640px;
}



.bg-32001 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -220px -640px;
}



.bg-AP_GAMEPLAY {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -290px -640px;
}



.bg-ap_supply_lt_010 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -360px -640px;
}



.bg-base_ap {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -430px -640px;
}



.bg-charm_coin_1 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -500px -640px;
}



.bg-charm_coin_2 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -570px -640px;
}



.bg-charm_coin_3 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -640px -640px;
}



.bg-charm_coin_4 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -10px;
}



.bg-EPGS_COIN {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -80px;
}



.bg-mod_unlock_token {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -150px;
}



.bg-mod_update_token_1 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -220px;
}



.bg-mod_update_token_2 {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -290px;
}



.bg-REP_COIN {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -360px;
}



.bg-RETRO_COIN {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -430px;
}



.bg-SOCIAL_PT {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -500px;
}



.bg-STORY_REVIEW_COIN {
    width: 50px; height: 50px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXKN4.png') -710px -570px;
}




.bg-30013large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -10px -10px;
}



.bg-30023large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -160px -10px;
}



.bg-30033large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -10px -160px;
}



.bg-30043large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -160px -160px;
}



.bg-30053large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -310px -10px;
}



.bg-30063large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -310px -160px;
}



.bg-30073large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -10px -310px;
}



.bg-30083large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -160px -310px;
}



.bg-30093large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -310px -310px;
}



.bg-30103large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -460px -10px;
}



.bg-31013large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -460px -160px;
}



.bg-31023large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -460px -310px;
}



.bg-31033large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -10px -460px;
}



.bg-31043large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -160px -460px;
}



.bg-31053large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -310px -460px;
}



.bg-31063large {
    width: 130px; height: 130px;
    background: url('https://s1.ax1x.com/2023/02/24/pSzXuEF.png') -460px -460px;
}