

.bg-4001_icon {
    width: 45px; height: 32px;
    background: url('~static/img/icon/sprites.png') -10px -224px;
}



.bg-4002_icon {
    width: 52px; height: 53px;
    background: url('~static/img/icon/sprites.png') -10px -90px;
}



.bg-4003_icon {
    width: 48px; height: 45px;
    background: url('~static/img/icon/sprites.png') -170px -10px;
}



.bg-4004_icon {
    width: 41px; height: 41px;
    background: url('~static/img/icon/sprites.png') -10px -163px;
}



.bg-4005_icon {
    width: 41px; height: 41px;
    background: url('~static/img/icon/sprites.png') -71px -163px;
}



.bg-4006_icon {
    width: 41px; height: 41px;
    background: url('~static/img/icon/sprites.png') -132px -163px;
}



.bg-7003_icon {
    width: 60px; height: 60px;
    background: url('~static/img/icon/sprites.png') -10px -10px;
}



.bg-7004_icon {
    width: 60px; height: 60px;
    background: url('~static/img/icon/sprites.png') -90px -10px;
}



.bg-AP_GAMEPLAY_icon {
    width: 55px; height: 45px;
    background: url('~static/img/icon/sprites.png') -82px -90px;
}



.bg-EPGS_COIN_icon {
    width: 42px; height: 45px;
    background: url('~static/img/icon/sprites.png') -170px -75px;
}



.bg-REP_COIN_icon {
    width: 35px; height: 45px;
    background: url('~static/img/icon/sprites.png') -238px -70px;
}



.bg-RMB_icon {
    width: 31px; height: 35px;
    background: url('~static/img/icon/sprites.png') -238px -135px;
}



.bg-SOCIAL_PT_icon {
    width: 40px; height: 40px;
    background: url('~static/img/icon/sprites.png') -238px -10px;
}



.bg-el_icon {
    width: 30px; height: 30px;
    background: url('~static/img/icon/sprites.png') -75px -224px;
}



.bg-ex_icon {
    width: 30px; height: 30px;
    background: url('~static/img/icon/sprites.png') -125px -224px;
}



.bg-hc_icon {
    width: 30px; height: 30px;
    background: url('~static/img/icon/sprites.png') -175px -224px;
}



.bg-up_icon {
    width: 30px; height: 30px;
    background: url('~static/img/icon/sprites.png') -225px -224px;
}