
.stage_area {
    margin-top: 5px;
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
}


.stage {
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 1%;
    width: 98%;
}




.stage_card_light {
    margin: 3px;
    display: flex;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 240px;
    height: 113px;
    font-size: 0px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgb(100, 100, 100) 0px 0px 2px;
    flex-grow: 1;
    
}


.stage_card_dark{
    margin: 3px;
    display: flex;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 240px;
    height: 113px;
    font-size: 0px;
    overflow: hidden;
    border-radius: 10px;   
    box-shadow: rgb(165, 165, 165) 0px 0px 2px;
    flex-grow: 1;
    background-color: rgb(50, 50, 50);
}

.stage_card_info {
    margin-left: -55px;
}

.stage_card_info_word {
    margin: 6px;
}

.stage_table tr {
    height: 36px;
}

.stage_hidden {
    margin: 6px;
    width: 234px;
    flex-grow: 1;
}

.stage_info_img_type_area {
    width: 120px;
    height: 120px;
    float: left;
    opacity: 0.4;
    padding: 0px;
}

.stage_info_type {
    font-size: 14px;
    text-align: center;
}

.stage_info_font_size {
    font-size: 20px;
}

/* 状态颜色 */
.stage_info_color_5 {
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    color: rgb(240, 136, 0);

}

.stage_info_color_4 {
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    color: rgb(195, 128, 221);
}

.stage_info_color_3 {
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    color: rgb(0, 132, 255);
}


.stage_info_color_2 {
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    color: rgb(0, 161, 167);
}

.stage_info_color_1 {
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    color: rgb(180, 180, 180);
}


.stage_info_color_0 {
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    color: rgb(201, 47, 0);
}

.stage_details_area{
    width: 100%;
    display:flex;
    flex-direction:row; 
    justify-content: center;
    flex-wrap: wrap ; 
}

.stage_details_card {
    margin-bottom: 5px;
    text-align: center;
    width: 450px;
    font-size: 0px;
    margin-right: 10px;
    border: solid rgb(118, 118, 118) 1px;
    border-radius: 10px;
 
}

.stage_details_table {
    border-collapse: collapse;
    text-align: center;
   
    font-size: 0px;
}

.stage_details_title{
    font-size: 28px;
    color:rgb(0, 97, 201);
    font-weight: 600;
}

.stage_details_table_tr_title{
    font-size: 16px;
    font-weight: 600;
}

.stage_details_table td {
    text-align: center;
}






.stage_table_t2 td{
    text-align: center;
    width:110px;
    height: auto;
    line-height: 114px;
    
}


.stage_table_img_t2{
  
    margin-top: 10px;
    margin-left: -6px;
    width: 85px;
    height: 85px;
}








/* 以下部分为网页作图用css */

.stage_video {
    margin: 5px;
    display: flex;
    display: inline-flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    width: auto;
    height: auto;
    font-size: 0px;
    border: 1.5px solid rgb(104, 103, 103);
    border-radius: 10px;
    -moz-border-radius: 10px;
    /* 老的 Firefox */
    /* overflow:hidden; */
    box-shadow: rgb(114, 114, 114) 0px 0px 2px;
}

.stage_card_video {
    margin: 3px;
    display: flex;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 430px;
    height: 178px;
    font-size: 0px;
    overflow: hidden;
    /* border:1px solid rgb(187, 187, 187); */
    border-radius: 10px;
    -moz-border-radius: 10px;
    /* 老的 Firefox */
    box-shadow: rgb(100, 100, 100) 0px 0px 2px;   
}

.stage_card_video_title{
    color: #000;
    font-size:18px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}

.updateTime_video{
    margin-left: 30%;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.item_img_size_type_video{
    /* opacity: 0.9; */
    width: 220px;
    height: 220px;
   margin-left: -140px;
margin-top: -15px;
}

.stage_video_tip{
    margin: auto;
    font-size: 28px;
    font-weight: 700;
   
}


.stage_nowAct__img{
    width: 48px;
    height: 48px;
}

.stage_nowAct_card{
   display: flex;
   flex-direction:row;
   flex-wrap: wrap ;
   /* position: absolute; */

   width: 263px;
   height: 80px;
overflow:auto;
/* border: solid 1px red; */
   /* margin-left: -195px; */
}