.stage_actStore_area {
    display: flex;
    flex-wrap: wrap;
    margin-left:1%;
    width: 98%;
    flex-direction: row ;
}

.stage_act_cc{
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    justify-content: center;
    flex-direction: row ;
}

.stage_act_cc_card{
    margin: 10px;
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap ;
    width: 100%;
    font-size: 20px;
    border:1px solid rgb(0, 174, 255);
    border-radius:5px;
  
    
}

.title_act_cc_word{
     margin: 2px;
    display: flex;
    width: 100%;
    font-size: 20px;
   
    flex-wrap: nowrap ;
    font-weight: 600;
}

.stage_act_cc_cardinfo{
    /* border: solid white 1px; */
    width: 70px;
}

.costper_value_word_{
    width: 80px;
    font-weight: 800;
    font-size: 24px;
}

.store_act_cc_item{
    width: 50px;
    height: 50px;
}

.store_act_ss{
    height: auto;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    text-align: center;
    width: 99%;
    /* justify-content: center; */
   
}

.store_act_ss_item{
    width: 60px;
}

.store_act_ss_itemName{
    font-size: 13px;
    width: 180px;
    
}

.store_act_ss_card_dark{
    margin: 6px;
        height: 80px;
        width: 150px;
        box-shadow: rgb(199, 199, 199) 0px 0px 2px;
        background-color: rgb(50, 50, 50);
        border-radius: 10px;
        color: rgb(145, 145, 145); 
        font-weight: 700;
        flex-grow: 1;
}

.store_act_ss_card_light{
        margin: 6px;
        height: 80px;
        width: 150px;
        box-shadow: rgb(100, 100, 100) 0px 0px 2px;
        border-radius: 10px;
        color: rgb(54, 54, 54); 
        font-weight: 700;
        flex-grow: 1;
}
.store_act_ss_card_hidden{
    margin: 6px;
        width: 151px;
        flex-grow: 1;
}

.stage_act_ss_img{
    background: linear-gradient(rgba(144, 164, 174, 0.7), rgba(144, 164, 174, 0.7)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url('https://yituliu.site/foot/%E6%B4%BB%E5%8A%A8.jpg') no-repeat scroll 50% 50% / cover;
    height: 150px;
    width: 100%;
   
   text-align:center
}
.stage_act_ss_img_{
    height: 150px;
    width: 500px;
}





